<template name="layout">
  <div class="container">
    <header class="navbar navbar-default" role="navigation"> 
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <a href="{{pathFor 'home'}}" class="discuss btn btn-default">Главная</a>
          <a href="{{pathFor 'PilotsList'}}" class="discuss btn btn-default">Летный состав</a>
          <a href="{{pathFor 'AllCallsLists'}}" class="discuss btn btn-default">Списки позывных</a>
        </div>
      </nav>
    </header>
    <div id="main" class="row-fluid">
      {{> yield}}
    </div>
  </div>
</template>
