<template name="CallsListPage" >
	<h1>Позывные действуют в период</h1>
	 <h3> с {{ formatDate begin_valid }} <span> по </span> <span></span> {{ formatDate end_valid}}</h3>
	 <a href="{{pathFor 'EditCallsList'}}"><div class="btn btn-primary">Редактировать</div></a>
	 <a href="{{pathFor 'EditCallsList'}}"><div class="btn btn-danger delete">Удалить</div></a>
	 {{#each flight_call_list}}
		<tr>
			<td class="name-pilot-td" ><h4>{{ name }}</h4></td>
			<td><h4>{{ call }}</h4></td>
		</tr>
    {{/each}}
</template>