#calendarDiv{
    width: 90%;
    margin: auto;
}


.fc-sat, .fc-sun{
    color: red;
}

.fc-today{
    background: rgba(133, 240, 119, 0.30) !important;
}


.fc-title{
	color: #484ec7;
	font-style: italic;
	
}

.fc-content{
	text-align: center;
	height: 15px !important;
	margin: 10px 0;
	box-sizing: border-box;
}

.fc-time{
	display: none;
}